.add_button {
    display: block;
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 2;
}

td.edit {
    width: 32px;
}

/*
body {
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    background-color: #f7f7fa;
    padding-left: 40px;
}

table {
    vertical-align: middle;
    text-align: left;
}

thead {
    font-weight: bold;
}

td {
    padding-right: 10px;
}

input {
    width: 100px;
    height: 30px;
    font-weight: bold;
}
*/