@{
    ViewBag.Title = "Адресная книга";
}

<div>

    <!-- Кнопка добавления -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Добавить
    </button>

    <!-- Таблица и модальное окно -->
    @using (Ajax.BeginForm("UpdateAdresses", new AjaxOptions
    {
        UpdateTargetId = "results",
        LoadingElementId = "loading"
    }))
    {
        <div id="results" >
            @Html.Partial("UpdateAdresses")
        </div>
    }
</div>